.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.dawn {
  background: #95b3bf;
  background: linear-gradient(
    180deg,
    #95b3bf 0%,
    #c6cdd3 35%,
    #e5d8d9 64%,
    #f1e1d9 85%,
    #f3e1cd 100%
  );
}

.morning {
  background: #a2e0f9;
  background: linear-gradient(
    180deg,
    #a2e0f9 6%,
    #cef5fc 39%,
    #eafaeb 70%,
    #fefcd3 88%,
    #fdf4ba 100%
  );
}

.daytime {
  background: #34a4ca;
  background: linear-gradient(360deg, #38a3d1 0%, #34a4ca 50%, #90dffe 100%);
}

.sunset {
  background: #7e74b2;
  background: linear-gradient(
    180deg,
    #7e74b2 9%,
    #b3a2c2 36%,
    #e2cdbe 66%,
    #f6cf97 85%,
    #f4a77a 100%
  );
}

.early-night {
  background: #20202f;
  background: linear-gradient(
    180deg,
    #20202f 0%,
    #273550 16%,
    #416081 41%,
    #adacb2 78%,
    #eac3a2 100%
  );
}

.night {
  background: #20202f;
  background: linear-gradient(
    360deg,
    #20202f 0%,
    #0a2342 16%,
    #273550 41%,
    #283e51 78%,
    #416081 100%
  );
}

.date-card {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin-bottom: 40px;
  min-height: 200px;
  padding: 20px 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 6px 15px 0px rgba(33, 33, 33, 0.5);
  max-width: 90%;
}

.weather-row {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 20px;
  border-radius: 5px;
}

.date-card-container {
  display: flex;
  flex-wrap: wrap;
  color: #333333;
  max-width: 100vw;
  justify-content: center;
}

.weather-block {
  margin: 20px 10px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding-left: 10px;
  padding-right: 30px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.weather-block:last-child {
  border-right: none;
}

.date-time {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #9481f7;
}

.detail-text {
  font-size: 14px;
  line-height: 120%;
}
.weather-icon {
  height: 50px;
  width: 50px;
}
.weather-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  margin-top: 5px;
}
.weather-description {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
}

.main-date-title {
  font-size: 35px;
  display: flex;
  font-weight: 700;
  align-items: center;
  color: #9481f7;
}

.temp {
  display: flex;
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.temp:after {
  content: "\00b0";
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
  color: #333333;
}

.welcome {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 600;
}

.today {
  font-size: 20px;
}

.inset-shadow {
  box-shadow: inset -10px 0 5px -5px rgba(33, 33, 33, 0.05);
}
